.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/
Demo/QRCodeView Demo/QRCodeView Demo.xcodeproj/project.xcworkspace/xcshareddata
docs
Package.resolved
Demo/SwiftUI Demos/SwiftUI Demos.xcodeproj/project.xcworkspace/xcshareddata/swiftpm
