.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/xcshareddata
Demo/QRCodeView Demo/QRCodeView Demo.xcodeproj/project.xcworkspace/xcshareddata
